#progressbar
{
  margin: .5em .5em .5em .5em;
  width: 50%; 
  height: 1em;
}

.ui-progressbar .ui-progressbar-value
{
  background-image: url(images/pbar-ani.gif);
}

select {
	width: 50%;
}

.topbar{
	margin-top: 2em;
}

.players{
	margin-top: 2em;
}

.container {
	max-width: 	1920px !important;
	width: 95% !important;
}