<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.multiselect.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"></head>
<body>
  <div class="container">
    <div class="row topbar" style="display:none">
      <div class="col-md-12">
        <label for="username">User Name:</label>
        <input id="username" data-bind="value: username" type="text">
        <label for="password">Password:</label>
        <input id="password" data-bind="value: password" type="password">
        <input id="getStats" type="submit" data-bind="click: getStats" value="Load Stats">
        <input id="loadAuctionValues" type="button" data-bind="click: loadAuctionValues" value="Load Auction Values">
        <input id="listAll" type="button" data-bind="click: listAll" value="List All Players">
        Show Drafted Players:
        <input id="showDrafted" type="checkbox" data-bind="checked: showDrafted" value="Show Drafted"></div>
    </div>
    <div class="row" style="display:none">
      <div class="col-md-12">
        <div>
          <span data-bind="text: errorMessage, visible: errorMessage"></span>
        </div>
        <div id="progressbar"></div>
        <div>
          <span data-bind="text: someValue"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Last Refreshed At&nbsp;<span data-bind="text: lastSaved"></span>
      </div>
    </div>
    <div class="row topbar" data-bind="visible: owners().length >
      0">
      <div class="col-md-6">
        Owners:
        <select id="owners" data-bind="options:owners, optionsText: function(item) {return item.name + ' (' + Math.round(item.totalAuctionValue) + ')';}, optionsValue: function(item) {return item.name;}" multiple="true"></select>
      </div>
      <div class="col-md-6">
        Positions:
        <select id="positions" data-bind="options:positions" multiple="true"></select>
      </div>
    </div>
    <div class="row players">
      <div class="col-md-12">
        <table id="players" data-bind="visible:players().length >
          0">
          <thead>
            <tr>
              <th>Drafted</th>
              <th>Name</th>
              <th>Team</th>
              <th>Pos</th>
              <th>Owner</th>
              <th>Points Remaining</th>
              <th>Average Points</th>
              <th>Value</th>
              <th>Auction Value</th>
              <th>Proj Auction Value</th>
              <th>Diff</th>
            </tr>
          </thead>
          <tbody data-bind="foreach:players">
            <tr data-bind="visible: !drafted() || $parent.showDrafted()">
              <td>
                <input type="checkbox" data-bind="checked: drafted"></td>
              <td data-bind="text: name"></td>
              <td data-bind="text: team"></td>
              <td data-bind="text: position"></td>
              <td data-bind="text: owner"></td>
              <td data-bind="text: points"></td>
              <td data-bind="rounded: averagePoints, precision: 2"></td>
              <td data-bind="rounded: vbdValue"></td>
              <td data-bind="rounded: auctionValue"></td>
              <td data-bind="rounded: projectedAuctionValue"></td>
              <td data-bind="rounded: auctionValueDiff"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.multiselect.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.0.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/main.js"></script>
  <script type="text/javascript">
      ko.applyBindings(
        new MainViewModel(
          {loadStats: {% url 'apps.web.views.loadAll' %},
           listAll: {% url 'apps.web.views.listAll' %},
          loadAuctionValues: {% url 'apps.web.views.loadAuctionValues' %}},
           '{{ csrf_token}}'));

      $('#listAll').click();

    </script>

</body>
</html>